<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <style>
       .section{
           height: 80vh;
           width: 100%;
           background-color: black;
       }

       .under-sec{
          width: 400px;
          /* border: 1px solid white; */
          margin: 0 auto;
          padding-top: 200px;
          color: rgb(242, 241, 239);
       }
    </style>


</head>
<body>
   <nav class="navbar navbar-expand-lg bg-body-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact">Contact us</a>
        </li>
       
      </ul>
    </div>
  </div>
</nav>


<div class="section">
    <div class="under-sec">
      <h1>ğ“¢ğ“ªğ“µğ“® ğ“Ÿğ“»ğ“¸ğ“­ğ“¾ğ“¬ğ“½</h1>
       <h1> GET UP TO 50% SALE</h1>
        <p>Lorem Ipsum is simply dummy text of the printing</p>
    </div>
</div>


    <!-- Footer -->
<footer class="text-center text-lg-start bg-body-secondary text-muted mt-5">

  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
  
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
 


    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>

  </section>


  <section class="">
    <div class="container text-center text-md-start mt-5">
     
      <div class="row mt-3">
      
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
         
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Brand Shoes
          </h6>
         <img src="images/running-shoes-3.png" alt="" class="h-50">
        </div>
      
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Sports</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Style</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Running</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Branded</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Aidi</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Leadher</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Sendal</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Colors</a>
          </p>
        </div>
       

       
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Home</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Men</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Women</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Blog</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">About us</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Contact us</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Help</a>
          </p>
        </div>
       

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
      
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i>India,rajkot</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> 4111111111</p>
          <p><i class="fas fa-print me-3"></i> 1218556221</p>
        </div>
       
      </div>
   
    </div>
  </section>
 
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    Â© 2023 Copyright:
    <a class="text-reset fw-bold" href="">Create by raj manavadariya <i class="bi bi-badge-tm-fill"></i>
    </a>
  </div>
 
</footer>
<!-- Footer -->













</body>
</html>